<section class="card" *ngIf="players?.length > 0">
  <header class="card-header">
    <h1 class="mb0">Рейтинг игроков</h1>
  </header>

  <div class="card-body">

    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead class="thead-dark">
        <th scope="col">#</th>
        <th scope="col">Имя</th>
        <th scope="col">Баланс</th>
        <th scope="col">Игры</th>
        <th scope="col">max win</th>
        <th scope="col">max loose</th>
        </thead>

        <tbody>
        <tr *ngFor="let player of players; let i=index" [class.table-dark]="!player.isShowInRating">
          <th scope="row" width="10">{{i + 1}}</th>
          <td>
            <a [routerLink]="[routeUrl.PLAYERS, player.handle]">
              {{player.name}}
            </a>
          </td>
          <td>{{player?.balance | number:'.'}}</td>
          <td>{{player.gameCount}}</td>
          <td>{{player.maxSeriesOfWin}}</td>
          <td>{{player.maxSeriesOfLoose}}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="hiddenPlayers.length > 0">
      В рейтинге не отображаются скрытые игроки.
      <span class="btn btn-outline-primary"
            (click)="showHiddenPlayers()">{{isShowHidden ? 'Скрыть' : 'Показать'}}</span>
    </div>
  </div>
</section>
