<a class="btn btn-outline-primary btn-block mb-2" [routerLink]="[routeUrl.GAMES,'new']" *appCanAccess>
  Новая игра
</a>

<ul class="list-group" *ngIf="games">
  <li *ngFor="let game of games"
      [routerLink]="[routeUrl.GAMES,game.name]"
      [routerLinkActive]="'active'"
      class="list-group-item list-group-item-action">
    {{game.name}}
    <span *ngIf="game.isBigGame" class="badge badge-info ml-2">Большая игра</span>
  </li>
</ul>

<ul *ngIf="pages" class="pagination mt-2">
  <li *ngFor="let page of pages" class="page-item"
      [class.active]="page.number === currentPage">
    <span (click)="handlePagerClick(page.number)" class="page-link">
    {{page.number}}
    </span>
  </li>
</ul>
