<div class="row flex-column flex-lg-row">
  <div class="col-lg-3 order-2 order-lg-1">
    <app-game-list></app-game-list>
  </div>

  <div class="col-lg-9 order-1 order-lg-2">
    Описание главное страницы
  </div>
</div>





