<section *ngFor="let year of stats; let i = index" class="mt-2"
         [class.hide-content]="year.isOpen">
  <header (click)="toggle(i)" class="btn btn-outline-secondary btn-block stat-header">

    <span class="stat-header__icon">
      {{year.isOpen ? '+' : '-'}}
    </span>
    <span class="stat-header__title">Результаты за {{year.year}} год</span>
    <span class="badge stat-header__result"
          [class.badge-danger]="year.result < 0"
          [class.badge-success]="year.result > 0">{{year.result}}</span>
  </header>

  <table class="table table-hover mb-3 mt-2">
    <thead class="thead-light">
    <tr>
      <th width="50%">Дата</th>
      <th>Результат</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let game of year.games"
        [class.table-success]="game.result > 0"
        [class.table-danger]="game.result < 0">
      <td>
        <a [routerLink]="[routeUrl.GAMES, game.name]">{{game.name}}</a>
        <span *ngIf="game.isBigGame" class="badge badge-info ml-2">Большая игра</span>
      </td>
      <td>{{game.result}}</td>
    </tr>
    </tbody>
    <tfoot class="thead-dark">
    <tr>
      <th colspan="2">Всего игр: {{year.games.length}}</th>
    </tr>
    </tfoot>
  </table>

</section>
