.hide-content {
  .table {
    display: none;
  }
}

.stat-header {
  text-align: left;
  display: flex;
  align-items: center;
  font-size: 1rem;

  &__title {
  }

  &__result {
    margin-left: auto;
  }

  &__icon {
    width: 1rem;
    height: 1rem;
    text-align: center;
    line-height: 1rem;
    background: var(--success);
    margin-right: .25rem;
    border-radius: 50%;
    color: var(--white);
  }
}
