<section class="card">
  <header class="card-header">
    <h1>Новая игра</h1>
    <p>Участники: <span class="badge badge-info">{{checkedPlayers}}</span></p>
  </header>

  <form [formGroup]="form" (ngSubmit)="handleSubmit()" class="card-body">
    <div class="row align-items-center mb-4">
      <div class="col-3">
        <div class="form-group mb-0">
          <label>Дата</label>
          <input [dpDayPicker]="config" formControlName="name" class="form-control" theme="dp-material"/>
        </div>
      </div>

      <div class="col-3">
        <div class="form-group mb-0">
          <label for="buyIn">Вход</label>
          <input class="form-control" id="buyIn"
                 formControlName="buyIn">
        </div>
      </div>

      <div class="col-3">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="isBigGame" formControlName="isBigGame">
          <label class="custom-control-label" for="isBigGame">Большая игра</label>
        </div>
      </div>
    </div>


    <div *ngIf="players" formArrayName="players" class="mb-4">
      <div class="custom-control custom-checkbox mb-2"
           *ngFor="let player of players; let i = index" [formGroupName]="i">
        <input type="checkbox" class="custom-control-input" [id]="'check-'+i" formControlName="isChecked"
               [value]="player._id">
        <label class="custom-control-label" [for]="'check-'+i">{{player.name}}</label>
      </div>
    </div>

    <div class="btn-group">
      <button class="btn btn-primary" type="submit">Сохранить</button>
      <a [routerLink]="[routeUrl.GAMES]" class="btn btn-outline-primary" type="submit">Отмена</a>
    </div>

  </form>
</section>


