<div *ngIf="player" class="card">
  <header class="d-md-flex align-items-center card-header">
    <h1 class="mb-0">{{player.name}}</h1>
    <span *ngIf="player.isRegular" class="ml-md-2 badge badge-warning">Почетный гость клуба</span>

    <a class="btn btn-outline-info ml-auto"
       [routerLink]="[routeUrl.PLAYERS, 'edit', player._id]"
       *appCanAccess>Редактировать</a>
  </header>


  <section *ngIf="player.results.length" class="card-body">
    <div class="row mb-3">
      <div class="col-12 col-md-6 mb-3 mb-md-0">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Баланс</span>
            <span class="badge badge-primary badge-pill"
                  [class.badge-danger]="player.balance < 0"
                  [class.badge-success]="player.balance > 0">
              {{player.balance| number:'.'}}
            </span>
          </li>

          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Количество игр</span>
            <div>
              <span class="badge badge-primary badge-pill">{{player.gameCount}}</span> из {{gamesCount}}
            </div>
          </li>

          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Средний результат за игру</span>
            <div>
              <span class="badge badge-pill"
                    [class.badge-danger]="average < 0"
                    [class.badge-success]="average > 0">
                <span *ngIf="average > 0">+</span>{{average}}
              </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-12 col-md-6">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Выигрышная серия</span>
            <div>
              <span class="badge badge-success badge-pill">{{player.maxSeriesOfWin}}</span>
            </div>
          </li>

          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Неудачная серия</span>
            <div>
              <span class="badge badge-pill badge-danger">{{player.maxSeriesOfLoose}}</span>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <app-player-stats-by-year [games]="player.results"></app-player-stats-by-year>
  </section>

</div>
