<section class="card">
  <header class="card-header">
    <h1>{{getHeader()}}</h1>
  </header>

  <form [formGroup]="form" (ngSubmit)="handleSubmit();" class="card-body">
    <div class="form-group">
      <label for="name">Имя</label>
      <input id="name" class="form-control" formControlName="name">
    </div>

    <div class="form-group">
      <label for="handle">Логин</label>
      <input id="handle" class="form-control" formControlName="handle">
    </div>

    <div class="form-group">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="isRegular" formControlName="isRegular">
        <label class="custom-control-label" for="isRegular">Почетный гость клуба</label>
      </div>
    </div>

    <div class="form-group">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="isShowInRating" formControlName="isShowInRating">
        <label class="custom-control-label" for="isShowInRating">Отображать в общем рейтинге</label>
      </div>
    </div>

    <div class="form-group">
      <button class="btn btn-primary" [disabled]="form.invalid" type="submit">Сохранить</button>
      <button class="btn btn-outline-primary" type="button" (click)="cancel()">Отмена</button>
    </div>
  </form>
</section>
