<app-spinner></app-spinner>

<header class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
  <div class="container">
    <a [routerLink]="['/']" class="navbar-brand">Poker</a>

    <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="true" aria-label="Toggle navigation"
            (click)="showNavBar()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [class.show]="isNavBarShow">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="[routeUrl.GAMES]" routerLinkActive="active">Игры</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="[routeUrl.PLAYERS]" routerLinkActive="active">Игроки</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['odds-calc']" routerLinkActive="active">Теория вероятности</a>
        </li>

        <li class="nav-item" *ngIf="authService.isAuthenticated()">
          <a class="nav-link" [routerLink]="['/logout']" routerLinkActive="active"
             (click)="authService.logout()">Выйти</a>
        </li>

        <li class="nav-item" *ngIf="!authService.isAuthenticated()">
          <a class="nav-link" [routerLink]="[routeUrl.LOGIN]" routerLinkActive="active">Войти</a>
        </li>
      </ul>
    </div>
  </div>
</header>

<div class="container mb-3">
  <app-breadcrumbs></app-breadcrumbs>
  <router-outlet></router-outlet>
</div>

<footer class="container pt-2 pb-2">
  <p class="text-muted">&copy; кончстарс лимитед</p>
</footer>
