<ul class="list-group" *ngIf="players">
  <li *ngFor="let player of players"
      [routerLink]="[routeUrl.PLAYERS,player.handle]"
      [routerLinkActive]="'active'"
      class="list-group-item list-group-item-action">
    {{player.name}}
  </li>
</ul>
