<form [formGroup]="form" (ngSubmit)="handleSubmit()">
  <div class="form-group">
    <label>Количество игроков:</label>
    <ng-select
      [clearable]="false"
      formControlName="playerCount" [items]="playersForSelect"></ng-select>
  </div>

  <div formArrayName="playerCards" *ngIf="getCardControls()?.length > 0" class="row">
    <div class="col-12 col-md-3" *ngFor="let player of getCardControls(); let i = index">
      <section class="card">
        <header class="card-header">
          <h4 class="mb-0">
            Игрок {{i + 1}}
            <span class="ml-2 badge badge-info">{{getEquity(i)}}</span>
          </h4>
          {{getHandrank(i)}}
        </header>

        <article class="card-body">
          <div *ngIf="getPlayerCardsControlsValue(i).length > 0">
          <span class="play-card" *ngFor="let card of renderCards(getPlayerCardsControlsValue(i))"
                [class.red]="isRedSuit(card)">
            {{card}}
          </span>
          </div>

          <div class="row pt-2">
            <div class="col-6" *ngFor="let plCard of getPlayerCardsControls(i); let j = index" [formArrayName]="i">
              <ng-select
                (change)="onCardSelect($event)"
                [clearable]="false"
                bindLabel="label"
                bindValue="id"
                [items]="availableCards" [formControlName]="j">
              </ng-select>
            </div>
          </div>
        </article>
      </section>
    </div>
  </div>

  <div formArrayName="board" class="card mt-4">
    <header class="card-header"><h3 class="mb-0">Board</h3></header>

    <div class="card-body">
      <div *ngIf="getBoardCardsControlsValue()" class="mb-3">
        <span class="play-card" *ngFor="let card of renderCards(getBoardCardsControlsValue())"
              [class.red]="isRedSuit(card)">
              {{card}}
            </span>

      </div>

      <div class="row">
        <div *ngFor="let item of getBoardCardsControls(); let i= index" class="col-12 col-md-2 mb-2 mb-md-0">
          <ng-select
            (change)="onCardSelect($event)"
            bindLabel="label"
            bindValue="id"
            [items]="availableCards" [formControlName]="i">
          </ng-select>
        </div>
      </div>
    </div>
  </div>

  <div class="btn-group mt-4">
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Поехали</button>
    <button (click)="reset($event)" class="btn btn-outline-primary">Сброс</button>
  </div>
</form>
