@font-face {
  font-family: 'Pragmata Pro';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../../../assets/pragmata.woff) format('woff');
}

.table {
  p {
    font-size: 26px;
  }
}


.play-card {
  font: 16px/1.2 'Pragmata Pro';
  font-variant-ligatures: discretionary-ligatures;
  display: inline-block;
  font-size: 40px;
  width: 40px;
  line-height: 64px;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(#000,.4);
  margin-right: 4px;

  &.red {
    color: #c00;
  }
}
