<form *ngIf="game" class="card" [formGroup]="form" (ngSubmit)="handleSubmit()">
  <header class="card-header">
    <input [dpDayPicker]="config" formControlName="name" class="form-control" theme="dp-material"/>
  </header>

  <div class="card-body">
    <div formArrayName="results">
      <table class="table table-bordered">
        <tr *ngFor="let player of game.players; let i = index">
          <td class="name">{{player.name}}</td>
          <td>
            <div class="row">
              <div class="col-6">
                <input [formControlName]="i" class="form-control">
              </div>
              <div class="btn-group col-6">
                <button type="button" class="btn btn-outline-danger"
                        (click)="setResult(i, -(game.buyIn))">
                  -{{game.buyIn}}
                </button>

                <button type="button" class="btn btn-outline-danger"
                        (click)="setResult(i, -(game.buyIn*2))">
                  -{{game.buyIn * 2}}
                </button>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <div class="btn-group">
      <button
        [disabled]="form.invalid"
        type="submit" class="btn btn-primary">Сохранить
      </button>

      <a [routerLink]="[routeUrl.GAMES, game.name]" class="btn btn-outline-primary">Отмена</a>
    </div>
  </div>
</form>

