<ol class="breadcrumb">
  <li *ngFor="let breadcrumb of breadcrumbs" class="breadcrumb-item">
    <a [routerLink]="breadcrumb.url" routerLinkActive="router-link-active">
      {{ breadcrumb.label }}
    </a>
  </li>
</ol>
