<div class="row">
  <div class="col-md-6 m-auto">
    <div class="alert alert-danger" *ngIf="authService.error$ | async as error">
      {{error}}
    </div>

    <form [formGroup]="form" (ngSubmit)="handleSubmit()" class="card">
      <header class="card-header">
        <h1>Войти</h1>
      </header>
      <div class="card-body">
        <div class="form-group">
          <input type="email"
                 formControlName="email"
                 placeholder="email"
                 autofocus
                 [class.is-invalid]="form.get('email').touched && form.get('email').invalid"
                 class="form-control is-invalid">
        </div>

        <div class="form-group">
          <input type="password"
                 placeholder="password"
                 formControlName="password"
                 [class.is-invalid]="form.get('password').touched && form.get('password').invalid"
                 class="form-control">
        </div>

        <button class="btn btn-primary">Поехали</button>
      </div>
    </form>
  </div>
</div>
