<section *ngIf="game" class="card">
  <header class="card-header">
    <div class="d-md-flex align-items-center mb-2">
      <h1 class="mb-2 mb-md-0">{{game.date | date: 'dd.MM.yyyy'}}</h1>

      <div class="ml-auto">
        <a class="btn btn-outline-info" *appCanAccess
           [routerLink]="[routeUrl.GAME_EDIT, game.name]">
          {{game.results.length > 0 ? 'Изменить результаты' : 'Добавить результат' }}
        </a>

        <button
          type="button" class="btn btn-danger ml-2"
          (click)="delete()" *appCanAccess>Удалить
        </button>
      </div>
    </div>

    <p>Участники: <span class="badge badge-info">{{game.players.length}}</span></p>
  </header>

  <div class="card-body">
    <table class="table table-bordered">
      <tr *ngFor="let player of game.players; let index = index"
          [class.table-success]="game?.results[index] > 0"
          [class.table-danger]="game?.results[index] < 0">
        <td width="60%"><a [routerLink]="[routeUrl.PLAYERS, player.handle]">{{player.name}}</a></td>
        <td *ngIf="game.results.length > 0">
          {{game.results[index]}}
        </td>
      </tr>
    </table>
  </div>
</section>
